.cardContainer {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    display: flex;
    flex-direction: column;
    width: 20%;
    align-items: baseline;
    height: 20vh;
    border-radius: 20px;
    cursor: pointer;
    margin: 1rem;
}

.cardName {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.25rem;
    margin: 10px 0px;
    border-radius: 0px 50px 50px 0px;
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 0px 3px 5px #343f64;
    font-weight: 600;
    font-size: 18px;
    position: relative;
}

.cardTitle {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 0.25rem;
}

.cardText {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    font-weight: 300;
    font-size: 14px;
}

.cardName:before {
    content: '';
    width: 34px;
    height: 70px;
    position: absolute;
    left: -33px;
    top: 0px;
    border-radius: 50px 0px 0px 50px;
    z-index: -1;
    background: -moz-linear-gradient(bottom, #1b4f90, #297bde);
}

.cardName:after {
    content: '';
    width: 25px;
    height: 20px;
    position: absolute;
    left: -25px;
    bottom: -40px;
    border-radius: 50px 0px 0px 50px;
    z-index: -1;
}

.flex {
    display: flex;
    justify-content: center;
    width: 100%;
}

.cardBg {
    background: #f7ffff;
    box-shadow: 4px 8px 1px #1b4f90;

    &:hover {
        box-shadow: 6px 12px 1px #1b4f90;
    }

}

.cardNameBg {
    background: #FDFFFE;
    background: -webkit-linear-gradient(right, #FDFFFE, #1b4f90);
    background: -moz-linear-gradient(right, #FDFFFE, #1b4f90);
    background: linear-gradient(to left, #FDFFFE, #1b4f90);
    box-shadow: 0px 2px 2px #1b4f90;
}

.cardNameBg:before {
    background: #1b4f90;
}

.cardNameBg:after {
    background: #64a2ed;
}
